@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply font-favorit text-5xl font-medium leading-6;
  }

  h2 {
    @apply font-favorit text-4xl font-medium leading-6;
  }

  h3 {
    @apply font-favorit text-3xl font-medium leading-5;
  }

  .book-info-sm {
    @apply font-favoritBook text-sm font-book leading-4;
  }

  .book-info-md {
    @apply font-favoritBook text-base font-book leading-4;
  }

  .book-intro-sm {
    @apply font-favoritBook font-book text-md leading-4;
  }

  .book-intro-md {
    @apply font-favoritBook font-book text-xl leading-4;
  }

  .book-intro-lg {
    @apply font-favoritBook font-book text-2xl leading-5;
  }

  .medium-info-sm {
    @apply font-favorit text-sm font-medium leading-4;
  }

  .medium-intro-sm {
    @apply font-favorit text-md font-medium leading-4;
  }

  .medium-intro-md {
    @apply font-favorit text-xl font-medium leading-4;
  }

  .medium-intro-lg {
    @apply font-favorit text-2xl font-medium leading-5;
  }

  .bold-intro-sm {
    @apply font-favorit text-md font-bold leading-4;
  }

  .bold-intro-md {
    @apply font-favorit text-xl font-bold leading-4;
  }

  .bold-intro-lg {
    @apply font-favorit text-5xl font-bold leading-5;
  }

  .global-margin {
    @apply max-w-screen-2xl;
    @apply mx-7;
    @apply 2xl:mx-auto;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

td {
  border: 1px solid #ddd;
}

.control-panel {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 12px 24px;
  margin: 20px;
  line-height: 2;
  color: #6b6b76;
  outline: none;
}

#rectangle-base {
  width: 20px;
  height: 20px;
  background: #2b986f;
}

#rectangle-a {
  width: 20px;
  height: 20px;
  background: #df7aaf;
}

#rectangle-b {
  width: 20px;
  height: 20px;
  background: #9b185d;
}

#rectangle-c {
  width: 20px;
  height: 20px;
  background: #E05813;
}
